/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: linear-gradient(0deg, #000 25%, #66CCFF 70%);
}
.wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

}

.left {
  margin: 0;
  width: 50vw;
  height: 50vh;
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  transform: perspective(750px) rotateY(-45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px ridge black;
  border-bottom: 8px outset black;
  margin-right: 19px;
}

.right {
  margin: 0;
  width: 50vw;
  height: 50vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  transform: perspective(750px) rotateY(45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px ridge black;
  border-bottom: 8px outset black;
  margin-left: 19px;
}

li {
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}

ul {
  padding: 0;
}

.left-inner li {
  padding-left: 40%;
}
